<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BITNP</title>

    <!-- css files -->
    <link href="/static/niji/css/font.css" rel='stylesheet' type='text/css'>    
    <link href="/static/niji/css/jquery.fullPage.css" rel="stylesheet"> 
    <link href="/static/niji/css/fullpage.css" rel="stylesheet">
    <script src="/static/niji/js/jquery.js"></script>
    <script src="/static/niji/js/jquery.fullPage.min.js"></script>
    <script src="/static/niji/js/main.js"></script>


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <header>
      <div class="header-top clearfix">
        <h1 class="l-left"><a href="#firstSection">网络开拓者协会</a></h1>
        <a class="l-right toggle-menu" href="#">
          <i></i>
          <i></i>
          <i></i>
        </a>
      </div>

      <nav class="hide">
        <ul id="menu">
          <li data-menuanchor="firstSection">
            <a href="#firstSection" title="BITNP">BITNP</a>
          </li>
          <li data-menuanchor="secondSection">
            <a href="#secondSection" title="军理直播">军理直播</a>
          </li>
          <li data-menuanchor="thirdSection">
            <a href="#thirdSection" title="产品视频">产品视频</a>
          </li>
          <li>
            <a href="/forum" title="进入论坛">进入论坛</a>
          </li>
          <li>
            <a href="/login" title="登录">登录</a>
          </li>
        </ul>
      </nav>
    </header>

   <!-- <div id="fullpage">
      <section class="vertical-scrolling section1" >

        <div class="scroll-icon">
          <p>查看下一页</p>
          <a href="#fifthSection/1" class="icon-up-open-big"></a>
        </div>
      </section>

      <section class="vertical-scrolling"style="background-image: url('/static/niji/image/junli.jpg');background-size:100% 100%;
      background-attachment:fixed; ">
      </section>
      <section class="vertical-scrolling">

      </section>
      <section class="vertical-scrolling">
        <h2>BITNP</h2> 
        <h3>This is the fourth section</h3>
      </section>
      <section class="vertical-scrolling">
        <div class="horizontal-scrolling">
          <h2>BITNP</h2>
          <h3>This is the fifth section and it contains the first slide (actually section == first slide)</h3>
        </div>
        <div class="horizontal-scrolling">
          <h2>BITNP</h2>
          <h3>This is the second slide</h3> 
          <p class="end">Thank you!</p>
        </div>
      </section>
    </div>-->
    <div id="fullpage">
      <section class="vertical-scrolling section1">
        <div class="scroll-icon">
          <p>进入下一页</p>
          <a href="#fifthSection/1" class="icon-up-open-big"></a>
        </div>
      </section>
      <section class="vertical-scrolling section2">
      </section>
      <section class="vertical-scrolling">
        <h2>产品视频</h2>
        <div class="row">

          <video width="64%" height="36%" controls>
          
          <source src="/static/niji/image/1.mp4" type="video/mp4">
          
          </video>
          
          </div>
      </section>
    </div>
    <!-- js files -->

  </body>
</html>